*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar
{
  display: flex;
  background-color:aqua ;
  font-size: 20px;
  justify-content: space-between;
}
.menubar
{
  display: flex;
  align-items: center;
}
.menu-items,.lgn,.sgn
{
  border: 2px solid green;
  background-color: blueviolet;
  font-size: 20px;
  color: blue;
  border-radius: 8px;
  margin: 20px;
}
a {
  text-decoration: none ;
}
a:hover {
  background-color: chartreuse;
  color: black;

}
.main-content {
  display: flex;
  justify-content: space-between;
  /* height: 200px; */
  background-color: chocolate;
  border: 5px solid greenyellow;
}
.about-website {
  width: 40%
}
.news {
  width: 30%;
}


